 .btn-medium{
    border:1px solid white;
    color: white !important;
    padding:10px 15px;
    border-radius:50px;
    font-weight: 100;
    opacity:1 !important;
    font-size: 20px;
    height:40px;
    font-family: 'Quicksand', sans-serif;
    padding-top:5px !important;
 }
 .btn-medium:hover{
 text-decoration:none;
 background-color:#FAFAFA !important;
 color: black !important;
 }


.btn-meno:hover{border:0;
text-decoration:none;
}
.btn-mediu{
    border:none;
    color: black !important;
    padding-top:26px!important;
    border-radius:0;
   font-weight: 100;
    opacity:1;
    font-family: 'Quicksand', sans-serif;
    height:75px;
    font-size: 20px;
 
  
}
.btn-mediu:hover{
 text-decoration:none;
 background-color:#0974A1 !important;
 color: white !important;
 height:100px !important;
 
 }
 .btn-meduim